
.App-header {
  text-align: left;
  color: red;
  font-size: 20px;
  border-bottom: 3px solid red;
  display: flex;
}

.App-header h1 {
  line-height: 200px;
  margin-left: 50px;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid red;
  height: 300px;
}

.App-body p {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 17px;
}

.App-body input {
  margin-left: 10px;
  margin-right: 10px;
}

.App-body label[for="email"] {
  margin-left: 30px;
}

.App-footer {
  text-align: center;
}

.App-footer p {
  font-size: 17px;
}
